body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

#popUp{
    color: black;
    width: 40%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 2vw;
    box-shadow: 0 0 5px black;
    visibility: hidden;
}

#popUp span{
    position: absolute;
    top: 1vw;
    right: 1vw;
    height: 5%;
    font-size: 3vw;
    cursor: pointer;
}

#popUp span:hover{
    color: red;
}

#popUp div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95%;
    font-size: 4vw;
}

#goBack{
    padding: 1.5vw 1vw;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    font-size: 1.2vw;
    top: 1vw;
    left: 1vw;
}

#goBack:hover{
    transform: rotate(360deg);
    transition: 1s;
    background-color: rgb(241, 59, 59);
}

#goBack a{
    text-decoration: none;
}

#questionNumber{
    position: absolute;
    right: 1vw;
    top: 1vw;
    font-size: 2vw;
    padding: 1.5vw 1vw;
    border-radius: 50%;
    background-color: white;
    font-size: 1.2vw;
    color: black;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;   
    width: 90%;
    margin: auto;
}

#chooseTheAnswer{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 2vw;
}

h1{
    margin: 0;
    text-align: center;
    padding: 1vw;
    font-size: 2em;
}

ul{
    margin: 3vw 0;
}

ul li{
    width: 90%;
    margin: auto;
    font-size: 1.5vw;
    padding: 1vw;
}

ul li:hover{
    background-color: rgb(138, 138, 11) !important;
    cursor: pointer;
}

.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1vw;
    width: 30%;
}

.buttons button{
    padding: 1vw 2vw;
    font-size: 1.5vw;
    border-radius: 2vw;
    cursor: pointer;
}

.buttons button:hover{
    background-color: black;
    color: white;
    transition: .3s;
}