body {
    margin: 0;
    font-family: "Borel", cursive;
    font-family: "Roboto", sans-serif;
    background-color: #efe2ba;
    height: 100vh;
    transition: 0.5s;
}

header {
    width: 100%;
    height: 6vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 1px 5px rgb(19, 19, 99);
    color: #0e2c8e;
    font-weight: 500;
    position: fixed;
    z-index: 10;
    visibility: visible;
}

.mobileMenu {
    visibility: hidden;
    height: 5vw;
    display: flex;
    align-items: center;
    padding: 2vw;
    position: fixed;
    cursor: pointer;
}

#closeMobileMenu {
    visibility: hidden;
    position: absolute;
}

header > img {
    height: 90%;
}

#erasmusLogo {
    width: 10%;
    height: auto;
}

header > div {
    display: flex;
}

header > div > nav {
    margin: 0 1vw;
    box-sizing: border-box;
    padding: 0.3vw;
    font-size: 1vw;
}

header > div > nav:hover {
    border-bottom: 1px solid #0e2c8e;
    cursor: pointer;
    color: #020613;
    text-shadow: 0 0 10px blue;
}

#navInovationGame {
    background-color: #0e2c8e;
}

#navInovationGame a {
    color: white;
}

#navInovationGame:hover {
    background-color: white;
}

#navInovationGame:hover a {
    color: #0e2c8e;
}

.zeroSlide {
    background-image: url("./images/banner.png");
    background-repeat: no-repeat;
    background-position: 0 6vw;
    background-size: 100%;
    padding-top: 7vw;
    height: 50vw;
}

.firstSlide {
    background-color: #efe2ba;
}

.secondSlide {
    background-color: #efe2ba;
}

.thirdSlide {
    background-color: rgb(245, 245, 245);
}

.fourthSlide {
    background-color: rgb(245, 245, 245);
}

.fifthSlide {
    background-color: #efe2ba;
}

.sixthSlide {
    background-color: #efe2ba;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: auto !important;
}

.sixthSlide > div {
    width: 40%;
    overflow: hidden;
    box-shadow: 0 0 30px rgb(48, 25, 148);
    margin: 5vw 0;
}

.sixthSlide > div img {
    width: 100%;
}

.sixthSlide .thematicPosterDescription {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw;
    height: 3vw;
    background-color: white;
    text-shadow: 0 0 5px #0e2c8e;
}

.seventhSlide {
    background-color: rgb(245, 245, 245);
}

.mainSlides {
    margin: 0;
    height: 50vw;
    box-sizing: border-box;
}

.mainSlides h1 {
    margin: 0;
    padding: 2vw 0;
    text-align: center;
    box-sizing: border-box;
}

.mainSlides p {
    margin-bottom: 0;
    font-weight: bold;
}

.slideContainer {
    height: 80%;
    display: flex;
}

.slideImageContainer {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideImageContainer > div {
    width: 65%;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 0 0 30px rgb(48, 25, 148);
}

.slideImageContainer > div > img {
    width: 100%;
}

.slideImageContainer > div > img:hover {
    transform: scale(1.1);
    transition: 1s;
}

.articleContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(63, 63, 63);
}

.articleContainer > article {
    width: 95%;
    height: 80%;
    overflow-y: auto;
    font-size: 14px;
}

.articleContainer > div {
    width: 95%;
    margin-top: 2vw;
    text-shadow: 0 0 3px blue;
}

.articleDescription {
    border: 3px dotted black;
    padding: 2vw;
    box-sizing: border-box;
    background-image: url("./images/reflectionBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 1.3vw;
}

.articleContainer > article p,
h3,
h4,
h5,
h6 {
    color: black;
}

.podcastContainer {
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
    font-size: 1.3vw;
}

.quizzletContainer {
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-image: url("./images/reflectionBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 1.3vw;
}

.quizzletContainer a {
    text-decoration: none;
    color: red;
}

.quizzletContainer a:hover {
    color: green;
}

@media only screen and (max-width: 1040px) {
    header {
        width: 50%;
        height: 100%;
        visibility: hidden;
        flex-direction: column;
        justify-content: start;
    }

    header #closeMobileMenu {
        width: 100%;
        height: auto;
        text-align: right;
        padding: 1vw;
        box-sizing: border-box;
        font-size: 5vw;
        cursor: pointer;
    }

    header #closeMobileMenu:hover {
        color: red;
    }

    header > img {
        width: 90%;
        height: auto;
    }

    header > div {
        width: 90%;
        flex-direction: column;
        height: 60%;
    }

    header > div > nav {
        margin: 0 1vw;
        box-sizing: border-box;
        padding: 1.5vw;
        font-size: 2.5vw;
    }

    header > div > nav:hover {
        border-bottom: 1px solid #0e2c8e;
        cursor: pointer;
    }

    .mobileMenu {
        visibility: visible;
    }

    .mobileMenu > img {
        height: 90%;
    }

    #banner {
        height: 42vw;
        padding: 0;
        background-position: 0 0;
    }

    .slideContainer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .slideImageContainer {
        margin: 5vw;
        width: 70%;
    }

    .slideImageContainer > div {
        width: 80%;
    }

    .slideImageContainer > div > img {
        width: 100%;
    }

    .articleContainer {
        width: 90%;
    }

    .articleContainer > article {
        width: 100%;
        font-size: 2.5vw;
    }

    .articleContainer > div {
        width: 100%;
        margin-top: 2vw;
        text-shadow: 0 0 3px blue;
        font-size: 2.5vw;
        margin-top: 5vw;
    }

    .mainSlides {
        height: auto;
        padding: 5vw 0;
    }

    #navMain {
        width: 60%;
    }

    #foundationLogo {
        width: 30%;
    }

    #erasmusLogo {
        width: 50%;
    }

    .quizzletContainer {
        padding: 2vw;
    }
}
